# Série temporal de Concentração de CO2 na Atmosfera

In [7]:
#inicializações
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from statsmodels.tsa.holtwinters import ExponentialSmoothing
from urllib.request import urlopen

## Extração de dados

In [16]:
url = 'https://gml.noaa.gov/webdata/ccgg/trends/co2/co2_mm_mlo.txt'

In [31]:
pd.read_csv(url,delim_whitespace=True, comment= '#', header = None, names = ['Year','Month','Decimal Data', 'Monthly Average', 'de-seasonalized', '#Days', 'St.Dev of days', 'unc. of mon mean'])

,Year,Month,Decimal Data,Monthly Average,de-seasonalized,#Days,St.Dev of days,unc. of mon mean
0,1958,3,1958.2027,315.70,314.43,-1,-9.99,-0.99
1,1958,4,1958.2877,317.45,315.16,-1,-9.99,-0.99
2,1958,5,1958.3699,317.51,314.71,-1,-9.99,-0.99
3,1958,6,1958.4548,317.24,315.14,-1,-9.99,-0.99
4,1958,7,1958.5370,315.86,315.18,-1,-9.99,-0.99
...,...,...,...,...,...,...,...,...
781,2023,4,2023.2917,423.36,420.69,28,0.60,0.22
782,2023,5,2023.3750,424.00,420.55,31,0.69,0.24
783,2023,6,2023.4583,423.68,421.19,29,0.57,0.20
784,2023,7,2023.5417,421.83,421.42,21,0.48,0.20
785,2023,8,2023.6250,419.68,421.62,21,0.46,0.19

## Análise exploratória